{{ with .Site.GetPage "/blog" }}
<div class="section" id="{{ .Title | urlize }}">
    <!-- Begin Blog container -->
    <div class="container">
        {{ if .Site.Params.home.showLatest | default true }}
        <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 5%">
            <div>
                <h2 class="title is-2 has-text-centered">{{ i18n "index_blog_latestPosts" . }}</h2>
            </div>
            <div style="padding-left: 2%">
                <a href="/index.xml" target="_blank">
                    <i class="fas fas fa-rss">
                    </i>
                </a>
            </div>
        </div>
        {{ range first .Site.Params.home.numberOfPostsToShow .Pages.ByPublishDate.Reverse }}
        <div class="summary">
            {{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default ":date_medium") }}{{ end }}
            <h3 class="title is-3 latest-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
            <div class="markdown">
                <p>
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .Permalink }}">{{ i18n "index_blog_readMore" . }}</a>
                    {{ end }}
                </p>
            </div>
            <div>{{ partial "blog/tags.html" . }}</div>
            <br />
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ if .Site.Params.home.showAllPosts }}
<div class="section" id="all-posts">
    <div class="container">
        <h2 class="title is-2 top-pad">{{ i18n "index_blog_allPosts" . }}</h2>
        {{if .Site.Params.home.allPostsArchiveFormat}}
        {{ partialCached "blog/archive.html" .}}
        {{else}}
        {{ partialCached "blog/li.html" . }}
        {{end}}
    </div>
</div>
{{ else }}
<div class="container has-text-centered top-pad">
    <a href="{{ .Permalink }}" style="font-size: 1.2em">{{ i18n "index_blog_allPosts" . }}</a>
</div>
{{ end }}

<!-- End Blog container -->
{{ partial "top-icon.html" . }}

<!-- End Blog section -->
<div class="container">
    <hr>
</div>
{{ end }}